body{
    text-align:center;
    background-color:#fe20fb;
}
h1{
    color:rgb(227, 59, 79);
    font-size:37px;
    border: 5px solid #7304f9;
    border-radius:25px;
    padding:15px;
}
#sec1{
    background-color:aqua;
    color:#0112DE;
    font-size:29px;
    border: 5px dotted #FF000F;
    padding:15px;
    border-radius:15px;
}
#sec2{
    background-color:aqua;
    color:#dc00a9;
    font-size:29px;
    border: 5px dotted #2c00b1;
    padding:15px;
    border-radius:15px;
}
#sec3{
    background-color:aqua;
    color:#00ae7a;
    font-size:29px;
    border: 5px dotted #d6380c;
    padding:15px;
    border-radius:15px;
}
